<div class="mb-3 col-6 " *ngIf="doctor.id">
    <label for="ID" class="form-label alert text-light col-12">
        <u>ID :</u>  {{doctor.id}} <br>
        <u>Address :</u>  {{doctor.address}} <br>
        <u>Email :</u> {{doctor.email}} <br>
        <u>Age :</u>  {{doctor.age}} <br>
        <u>Username :</u>  {{doctor.username}} <br>
        <u>Phone :</u>  +20{{doctor.phone}} <br>
        <u>Name :</u>  {{doctor.fname}} {{doctor.lname}} <br>
        <u>Category :</u>  {{doctor.category}} <br>

    </label>
</div>