<app-loading  *ngIf="!doctor.id"></app-loading>

<div class="container emp-profile" *ngIf="doctor.id">
    <form method="post">
        <div class="row">
            <div class="col-md-4 col-sm-10">
                <div class="profile-img">
                    <img src={{doctor.profilePic}} alt="No"/>
                </div>
            </div>
            <div class="col-md-6 col-sm-10"  style="padding-top: 5%;">
                <div class="profile-head">
                    <p class="fs-4"><b>{{doctor.fname}} {{doctor.lname}}</b>
                        <small><cite class="mx-3 fs-6" style="color: #a5c422;" title="Source Title"><i class="fas fa-user-md"></i> {{doctor.category}}</cite></small>
                    </p>
                    <div class="mx-4">
                        <app-star style="color: #a5c422; " [rating]="doctor.doctorRating"></app-star>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-10" style="padding-top: 5%;">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" [routerLink]="['/doctor/edit']"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12 offset-md-3 mt-sm-5 mt-md-0" >
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                </ul>
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class='fas fa-id-card-alt mx-2' style="color: #a5c422;"></i>ID</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{doctor.id}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa fa-user mx-2" style="color: #a5c422;" aria-hidden="true"></i>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{doctor.fname}} {{doctor.lname}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa fa-envelope mx-2" style="color: #a5c422;" aria-hidden="true"></i>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{doctor.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa fa-phone mx-2" style="color: #a5c422;"aria-hidden="true"></i>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{doctor.phone}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa fa-calendar mx-2" style="color: #a5c422;" aria-hidden="true"></i> Birth Date</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{doctor.birthDate|date:'shortDate'}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa fa-child mx-2" style="color: #a5c422;" aria-hidden="true"></i>Age</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{doctor.age}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa fa-transgender mx-2" style="color: #a5c422;" aria-hidden="true"></i>Gender</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{doctor.gender ==('F' ||'f') ? 'Female':'Male'}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fas fa-city mx-2" style="color: #a5c422;"></i> City</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{doctor.city}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa fa-map-marker mx-2" style="color: #a5c422;"></i> Area</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{doctor.area}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa fa-street-view mx-2" style="color: #a5c422;"></i> Street</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{doctor.street}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa fa-building mx-2" style="color: #a5c422;"></i> Building</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{doctor.buildingNumber}}</p>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>