<app-loading *ngIf="!indicator"></app-loading>

<div class="container patient-profile" *ngIf="indicator">
    <div class="col-md-2 mb-2">
        <button (click)="back()" class=" profile1-btn btn-secondary">Back</button>
    </div>
    <div class="alert alert-secondary fs-5 d-flex justify-content-center mb-5" role="alert">
        <b>Record</b> 
    </div>
    <form method="post">
        <div class="form-group">
            <label for="Date" class="fs-5">Date</label>
            <label style="color: red;">*</label>
            <input  type="datetime-local"  
               id="date" 
               disabled
               style="border-radius:30px ;"
               class="form-control form-control-lg " 
               [(ngModel)]="recordList[0].date" [ngModelOptions]="{standalone: true}"
            />
        </div>
        <div class="form-group">
            <label for="Textarea1" class="fs-5 mt-4" >Medical Diagnosis</label>
            <label style="color: red;">*</label>
            <textarea class="form-control" id="summary" rows="1" style="border-radius:30px ;" [(ngModel)]="recordList[0].summary" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
        <!-- Prescription table -->
        <div class="form-group">
        <table  #table class="table table-striped custab"  *ngIf="recordList.length!=0">
            <thead>
              <tr>
                <th class="text-center"><em class="fa fa-cog"></em></th>
                <th scope="col">Medicine</th>
                <th scope="col">Extra info</th>
              </tr>
            </thead>

            <tbody >
              <tr *ngFor="let med of medicines; let i = index ;" >
                <td align="center" style=" width:15%">
                  <a (click)="deleteMedicine(i)" class="btn btn-default"><em class="fa fa-trash"></em></a>
                </td>
                <td class="" style=" width:20%" >
                  <input type="text" class="form-control"  [value]="medicines[i][0]" >
                </td>
                <td class="" style=" width:60%">
                  <input type="text" class="form-control"   [value]="medicines[i][1]" >
                </td>
                
              </tr>
              <tr>

                <td align="center">
                  <a (click)="add2(medicine,info)" class="btn btn-default"><em class="fa fa-plus"></em></a>
                </td>

                <td class="">
                  <input type="text" class="form-control" #medicine id="medicine" >
                </td>

                <td class="">
                  <input type="text" class="form-control" #info id="info">
                </td>
                
              </tr>

            </tbody>
        </table>
        </div>
        <!-- Medical Test Table -->
        <div class="form-group">
            <table class="table table-striped custab"  *ngIf="recordList.length!=0">
                <thead>
                  <tr>
                    <th class="text-center"><em class="fa fa-cog"></em></th>
                    <th scope="col">Medical Tests</th>
                    <th scope="col">Type</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let record of recordList">
                    <td align="center">
                      <a (click)="deleteTest(record.fno!)" class="btn btn-default"><em class="fa fa-trash"></em></a>
                    </td>
                    <td class="">
                      <input type="text" class="form-control"  [(ngModel)]="record.file_description" [ngModelOptions]="{standalone: true}">
                    </td>
                    <td class="">
                      <select id="type" class="form-select" aria-label="Default select example" required [(ngModel)]="record.testType" [ngModelOptions]="{standalone: true}">
                        <option disabled [defaultSelected]="true"></option>
                        <option class="fs-7" value="S">Scan</option>
                        <option class="fs-7" value="T">Test</option>
                    </select>
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                      <a (click)="add(desc.value,type.value)" class="btn btn-default"><em class="fa fa-plus"></em></a>
                    </td>
                    <td class="">
                      <input type="text" class="form-control" #desc id="desc" [(ngModel)]="newFile.file_description" [ngModelOptions]="{standalone: true}">
                    </td>
                    <td class="">
                      <select id="type" class="form-select" aria-label="Default select example" #type [(ngModel)]="newFile.testType" [ngModelOptions]="{standalone: true}">
                        <option disabled [defaultSelected]="true"></option>
                        <option class="fs-7" value="S">Scan</option>
                        <option class="fs-7" value="T">Test</option>
                    </select>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group" id="error">
        </div>
        <div class="form-group d-grid mx-auto">
            <button (click)="edit()"  class=" profile1-btn btn-secondary btn-outline-info ">Edit</button>
        </div>
    </form>           
</div>
