



<nav class="navbar navbar-default navbar-static-top navbar-expand-lg bg-white">
    <div class="container-fluid">
      
      <a class="navbar-brand fs-2" routerLink="/">  <i style="color: #a5c422;" class="fab fa-mendeley"></i>edical Center</a>
      <!-- <i class="fa-brands fa-meta"></i><i class="fa fa-h-square"></i> <i class="fa-brands fa-meta"></i> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-list"></i>
      </button>
      <!-- if user logged out -->
      <div *ngIf="account.getRole()==null" class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5" routerLink="/login">Login</a>
          </li>
        </ul>
        
        <ul class="navbar-nav  justify-content-end my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="fs-5 nav-link" routerLink="/patientRegister">Register</a>
          </li>
          <!-- <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle fs-5" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Register
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            </ul>
          </li> -->
        </ul>      
      </div>
   <!-- if user logged in  as patient-->
  
    <div  *ngIf="account.getRole() =='patient'"  class="collapse navbar-collapse" id="navbarScroll" >
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" [routerLink]="['/patient']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" [routerLink]="['/patient/info']">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" [routerLink]="['/patient/record']">Medical History</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" [routerLink]="['/patient/search']">Doctors</a>
          </li>
  
        </ul>
        <ul class="navbar-nav  justify-content-end my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link fs-5">
            <img
              src={{account.getUser(account.getRole())?.profilePic}}
              width="25px" height="25px" style="border-radius: 100px;"/>
              <label class="mx-2">{{account.getUser(account.getRole())?.fname}} {{account.getUser(account.getRole())?.lname}}</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/login"  (click)="clearToken()" ><i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>      
    </div>
  
    <div  *ngIf="account.getRole() =='doctor'"  class="collapse navbar-collapse" id="navbarScroll" >
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active fs-5" aria-current="page" [routerLink]="['/doctor']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fs-5" aria-current="page" [routerLink]="['/doctor/info']">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fs-5" aria-current="page" [routerLink]="['/doctor/patientsearch']">Patients</a>
        </li>
      </ul>
      <ul class="navbar-nav  justify-content-end my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link fs-5">
            <img
              src={{account.getDoctor()?.profilePic}}
              width="25px" height="25px" style="border-radius: 100px;"/>
              <label class="mx-2">{{account.getDoctor()?.fname}} {{account.getDoctor()?.lname}}</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/login"  (click)="clearToken()" ><i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>      
    </div>
  
    <div  *ngIf="account.getRole() === 'pharmacist'"  class="collapse navbar-collapse" id="navbarScroll" >
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
       
      </ul>
      <ul class="navbar-nav  justify-content-end my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
       <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/login"  (click)="clearToken()" >Logout</a>
        </li>
      </ul>      
    </div>
  
    <div  *ngIf="account.getRole() === 'radiographer'"  class="collapse navbar-collapse" id="navbarScroll" >
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
       
      </ul>
      <ul class="navbar-nav  justify-content-end my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link fs-5">
            <img
              src={{account.getUser(account.getRole())?.profilePic}}
              width="25px" height="25px" style="border-radius: 100px;"/>
              <label class="mx-2">{{account.getUser(account.getRole())?.fname}} {{account.getUser(account.getRole())?.lname}}</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/login"  (click)="clearToken()" ><i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>    
    </div>
  
    <div  *ngIf="account.getRole() === 'laboratory technician'"  class="collapse navbar-collapse" id="navbarScroll" >
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
       
      </ul>
      <ul class="navbar-nav  justify-content-end my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link fs-5">
            <img
              src={{account.getUser(account.getRole())?.profilePic}}
              width="25px" height="25px" style="border-radius: 100px;"/>
              <label class="mx-2">{{account.getUser(account.getRole())?.fname}} {{account.getUser(account.getRole())?.lname}}</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/login"  (click)="clearToken()" ><i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>    
    </div>

    <div  *ngIf="account.getRole() === 'admin'"  class="collapse navbar-collapse" id="navbarScroll" >
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" [routerLink]="['/admin/home']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" [routerLink]="['/admin/addemployee']">Register a new employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fs-5" aria-current="page" routerLink="/admin/Doctorschedule"> Doctor's Schedule</a>
      </li>
        <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" routerLink="/admin/UpdateFiles">Update Files</a>
        </li>
      </ul>
      <ul class="navbar-nav  justify-content-end my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link fs-5">
            <img
              src={{account.getUser(account.getRole())?.profilePic}}
              width="25px" height="25px" style="border-radius: 100px;"/>
              <label class="mx-2">{{account.getUser(account.getRole())?.fname}} {{account.getUser(account.getRole())?.lname}}</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/login"  (click)="clearToken()" ><i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>    
    </div>
  
  </div>
  </nav>
  
  
  