<form class="border ">
    <div class="mb-3 col-5 offset-3">
        <label for="ID" class="form-label alert alert-success col-12">ID : {{doctor.id}}</label>
    </div>
    <div class="mb-3 col-5 offset-3">
        <label for="title" class="form-label text-light">First Name</label>
        <input [(ngModel)]="doctor.fname"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="title">
    </div>
    <div class="mb-3 col-5 offset-3">
        <label for="title" class="form-label text-light">Last Name</label>
        <input [(ngModel)]="doctor.lname"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="title">
    </div>
    <div class="mb-3 col-5 offset-3">
      <label for="title" class="form-label text-light">Email</label>
      <input [(ngModel)]="doctor.email"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="title">
    </div>
    <div class="mb-3 col-5 offset-3">
        <label for="title" class="form-label text-light">Password</label>
        <input [(ngModel)]="doctor.password"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="title">
    </div>
    <div class="mb-3 col-5 offset-3">
       <label for="title" class="form-label text-light">City</label>
       <input [(ngModel)]="doctor.city"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="title">
    </div>
    <div class="mb-3 col-5 offset-3">
       <label for="title" class="form-label text-light">Area</label>
       <input [(ngModel)]="doctor.area"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="title">
    </div>
    <div class="mb-3 col-5 offset-3">
        <label for="title" class="form-label text-light">Street</label>
        <input [(ngModel)]="doctor.street"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="title">
     </div>
     <div class="mb-3 col-5 offset-3">
        <label for="title" class="form-label text-light">Building Number</label>
        <input [(ngModel)]="doctor.buildingNumber"  [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="title">
     </div>
    <div class="mb-3 col-5 offset-3">
        <label for="title" class="form-label text-light">Phone</label>
        <input [(ngModel)]="doctor.phone"  [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="title">
    </div>
    <div class="mb-3 col-5 offset-3">
        <label for="title" class="form-label text-light">Birth Date</label>
        <input [(ngModel)]="doctor.birthDate"  [ngModelOptions]="{standalone: true}" type="datetime" class="form-control" id="title">
    </div>
    <div class="mb-3 col-5 offset-3">
        <label for="title" class="form-label text-light">Category</label>
        <input [(ngModel)]="doctor.category"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="title">
    </div>
    <div class="mb-3 col-5 offset-3">
        <label for="title" class="form-label text-light">Gender</label>
        <select [(ngModel)]="doctor.gender"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="title">
            <option class="fs-5" value="F"> Female </option>
            <option class="fs-5" value="M">Male </option>
        </select>
    </div>
    <button (click)="edit()" class="btn btn-secondary mb-5 col-5 offset-3">Edit</button>
</form>