<div class="container">
    <div class=" col-md-10 mx-5  custyle" id="myTabContent">
        <table class="table table-striped custab"  *ngIf="RecordList.length!=0">
            <thead>
              <tr>
                <th class="text-center"><em class="fa fa-cog"></em></th>
                <th scope="col">Date</th>
                <th scope="col">Medical Diagnosis</th>
                <th scope="col">Prescription</th>
                <th scope="col">Medical Tests</th>
                <th scope="col">Result</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let record of RecordList|recordWithoutRedundancy">
                <td align="center">
                  <a class="btn btn-default" *ngIf="record.did==doctorID" ><em class="fa fa-edit"></em></a>
                </td>
                <td class="">{{record.date|date}}</td>
                <td class="">{{record.summary}}</td>
                <td class="">{{record.prescription}}</td>
                <td>
                  <tr *ngFor="let fileDes of record.file_description">
                    <td>{{fileDes}}</td>
                  </tr>
                </td>
                <td>
                  <tr *ngFor="let file of record.attached_files">
                    <td>{{file}}</td>
                  </tr>
                </td>
                
              </tr>
            </tbody>
        </table>
    </div>
</div>



