<div id="load" class="fa-3x d-flex justify-content-center" *ngIf="!RecordList.length">
  <i class="fas fa-spinner fa-spin" style="color: yellowgreen;" aria-hidden="true"></i>
</div>

<div id="showMe" style=" height: 70px;" class="d-flex justify-content-center" *ngIf="!RecordList.length">           
  <label class="fs-3" style="color: rgb(153, 155, 158);"><em style="color: yellowgreen;" class="fas fa-cog fa-spin"></em> Not Found</label>
</div>

<div class="container" *ngIf="RecordList.length">
    <div class=" col-md-10 col-sm-8 offset-1 mb-1" id="myTabContent">
        
        <div class="searchbar" *ngIf="!fileDialogVisibility">
          <input type="text" class="search_input" placeholder="Search Prescription ... " [(ngModel)]="searchText"/>
          <a class="search_icon"><i class="fas fa-search"></i></a>
        </div>

        <div class="table-responsive col-md-12" id="sailorTableArea" *ngIf="!fileDialogVisibility">
          <div style=" height: 70px; " class="d-flex justify-content-center" *ngIf="(RecordList|searchInTable:searchText|recordWithoutRedundancy).length==0 ">           
            <label class="fs-3" style="color: rgb(153, 155, 158);"><em style="color: yellowgreen;" class="fas fa-cog fa-spin"></em> No Prescription Found</label>
          </div>
          <table id="sailorTable" class="table table-striped  table-success" width="100%" *ngIf="(RecordList|searchInTable:searchText|recordWithoutRedundancy).length">
              <thead>
                  <tr>
                    <th class="text-center"><em class="fa fa-cog"></em></th>
                    <th>Date</th>
                    <th>Diagnosis</th>
                    <th>Prescription</th>
                    <th>Tests</th>
                    <th>Result</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of RecordList|searchInTable:searchText|recordWithoutRedundancy">
                  <td align="center">
                    <a class="btn btn-default" *ngIf="record.did==doctorID" [routerLink]="['/doctor/editpre',record.pid,record.date]"><em class="fa fa-edit"></em></a>
                  </td>
                  <td class="">{{record.date|date}}</td>
                  <td class="">{{record.summary}}</td>
                  <td class="">{{record.prescription}}</td>
                  <td>
                    <tr *ngFor="let fileDes of record.file_description">
                      <td>{{fileDes}}</td>
                    </tr>
                  </td>
                  <td>
                    <tr *ngFor="let file of record.attached_files">
                      <td >
                        <button class="btn btn-primary" *ngIf="file != null; else t1" (click)="showDialog(file)"><em class="pi pi-file-pdf"></em></button>
                    </td>
                    
                    <ng-template #t1>not yet</ng-template>
                    </tr>
                  </td>
                </tr>
              </tbody>
          </table>
          
        </div>

        <div *ngIf="fileDialogVisibility" class="row">
          <button class="btn btn-success btn-lg my-3" (click)="hideDialog()">Back</button>
          <object style="width: 100%; height:100vh" class="text-center" [data]="('data:application/pdf;base64,'+myAttachedFile)|safe:'url'"></object>
        </div>
        
    </div>
</div>




