.profile-tab{
    margin-left: 15%;
}



/* #custom-search-input {
    margin:0;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px ;
    padding-left: 3px;
    padding-left: 4px ;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;

    padding: 2px 5px;
    margin-top: 1px;
    position: relative;
    left: -28px;

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#a5c422;
}

.search-query:focus + button {
    z-index: 3;   
}


.search-query:focus{
    outline: none !important;
    border:1px solid #a5c422;
    box-shadow: 0 0 10px #a5c422; 
} */



.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #d8e4dc;
    color: #637517;
    border-radius: 30px;
    padding: 1px;
    padding-bottom: 2px;
    }
    .search_input{
    color:#637517;
    border: 0;
    outline: 0;
    background: none;
    padding: 0 10px;
    width: 450px;
    caret-color:#a5c422;
    line-height: 40px;
    
    }
    ::placeholder { 
        color: #637517;
    }
    
    .searchbar:hover > .search_icon{
    color: greenyellow;
    }
    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#637517;
    text-decoration:none;
    }
    
    .dropdown{
    margin-top: auto;
    margin-bottom: 0;
    }
    
    .searchby{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    background-color: #d8e4dc;
    color: #637517;
    text-decoration: none;
    font-size: medium;
    border-radius: 30px;
    padding: 10px 40px;
    }

    
#sailorTableArea{
    max-height: 300px;
    overflow-x: auto;
    overflow-y: auto;
}
#sailorTable{
    white-space: normal;
}
tbody {
    display:block;
    height:200px;
    overflow-x:auto;
    overflow-y:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

