<app-loading *ngIf="!doctor.id"></app-loading>

<div class="container emp-profile" *ngIf="doctor.id">
    <h1 class="fs-2 text-center mb-3" style=" color: #a5c422;">Edit Your Password</h1>
    <Div class="container">
        <form (ngSubmit)="onSubmit(MyForm)" #MyForm="ngForm" >

            <!-- OLD PASSWORD -->
            <div class="form-group my-3">
                <label for="password" class="fs-5"> Old Password</label>
                <input type="password" style="border-radius:30px ;" class="form-control form-control-lg" name="oldPassword"
                    [(ngModel)]="user.oldPass" required  #oldPassword="ngModel"
                    [pattern]="passPattern"
                    placeholder="Enter your old password" />
            
                <div class="alert alert-danger fs-5" role="alert" *ngIf="oldPassword.errors && MyForm.submitted">
                    <div *ngIf="oldPassword.errors['required']">Password is required</div>
                    <div *ngIf="oldPassword.errors['pattern']">Invalid password</div>
                </div>
            </div>

            <!-- NEW PASSWORD -->
            <div class="form-group my-3">
                <label for="password" class="fs-5">New Password</label>
                <input type="password" style="border-radius:30px ;" class="form-control form-control-lg" name="newPassword"
                    [(ngModel)]="user.newPass" required [pattern]="passPattern" minlength="3" #newPassword="ngModel"
                    (keyup)="comparePassWords()" placeholder="Enter your new password" />

                <div class="alert alert-danger fs-5" role="alert" *ngIf="newPassword.errors && MyForm.submitted">
                    <div *ngIf="newPassword.errors['required']">Password is required</div>
                    <div *ngIf="newPassword.errors['pattern']"> At least one lowercase <br>
                        At least one uppercase <br>
                        At least one numeric <br>
                        At least one special character <br>
                        Minimum 8 characters
                    </div>
                </div>
            </div>

            <!-- Password confirmation -->
            <div class="form-group my-3">
                <label for="passwordCheck" class="fs-5">Confirm Password</label>
                <input type="password" style="border-radius:30px ;" class="form-control form-control-lg"
                    name="passwordCheck" [(ngModel)]="user.ConfirmPass" required #passwordCheck="ngModel"
                    (keyup)="comparePassWords()" placeholder="Confirm your password" />

                <div class="alert alert-danger fs-5" role="alert"
                    *ngIf="(TruePassword == false || passwordCheck.value ==='') && MyForm.submitted ">
                    <div *ngIf="passwordCheck.value ==='' ">Password is required</div>
                    <div *ngIf="!TruePassword"> Two passwords are not similar </div>
                    <!-- *ngIf="passwordCheck.errors && MyForm.submitted ">
                    <div *ngIf="passwordCheck.errors['required']"> Confirmation Password is required</div>
                    <div *ngIf="passwordCheck.errors['phoneNumberInvalid']"> Two passwords are not similar </div> -->
                </div>
            </div>

            <div class="form-group d-grid mx-auto">
                <button class="btn login btn-lg"> Change Password </button>
            </div>
            
            <div class="form-group form-control-lg">
                <div class="alert alert-danger form-control-lg" role="alert" *ngIf="MyForm.submitted && isOperationFailed">
                    Operation failed: {{ errorMessage }}
                </div>
            </div>
        </form>
    </Div>
</div>