<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="emp-profile">
    <section class="search-sec" >
        <div class="container">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" id="Name" class="form-control search-slt" placeholder="Name" [ngModelOptions]="{standalone: true}" pInputText [(ngModel)]="name">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" id="Area" class="form-control search-slt" placeholder="Area" [ngModelOptions]="{standalone: true}" pInputText [(ngModel)]="area">
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 form-control search-slt">
                            <select class="form-control search-slt"  [ngModelOptions]="{standalone: true}" [(ngModel)]="city2" id="exampleFormControlSelect1">
                                <option >Select City</option>
                                <option class="fs-5"  *ngFor=" let city of cities"> {{city}} </option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 form-control search-slt">
                            <select class="form-control search-slt" [ngModelOptions]="{standalone: true}"  [(ngModel)]="category" id="exampleFormControlSelect1">
                                <option >Select Category</option>
                                <option class="fs-5"  *ngFor=" let category of categories"> {{category}} </option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <button type="button" (click)="Search()" class="btn  wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<div class="container m-5 border border-light " *ngIf="clicked==1">
    <div class="row">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    
    <div class="mb20">
        <h1>Search Results</h1>
	</div>
    
    <section class="col-lg-12 col-xs-12 col-sm-6 col-md-12">
        <article class="search-result row" *ngFor="let i of drs| filter: n: 'Name'| filter:c: 'city'| filter:a: 'area'| filter:cat: 'category' |sort:['age']  ">

			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="meta-search">
                    <li><i class="glyphicon glyphicon-star"></i> <span>{{i.DoctorRating}}</span></li>
					<li><i class="glyphicon glyphicon-map-marker"></i> <span>{{i.city | titlecase }}</span></li>
					<li><i class="fas fa-map-pin" style="color:#a5c422"> </i> <span>    {{i.area | titlecase }}</span></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
				<h3>{{i.fname +" "+  i.lname | titlecase }}

                    <i class="fa fa-user-md" style="color:#a5c422; font-size:15px"></i>  <span style="opacity:0.5">  {{i.category | titlecase}}</span>	
                </h3>

          

                <i class="glyphicon glyphicon-earphone"></i>   <span>  {{i.phone}}</span><br>					
                <i class="glyphicon glyphicon-envelope"></i>   <span>  {{i.email}}</span><br>   			
                <a class="btn btn-default mt-3" style="background-color: #fff; " id="book" [routerLink]="['/patient/appointment',i.id]">
                    <i style="color: #a5c422;margin-right:5px;" id="cal" class="fa fa-calendar" aria-hidden="true"></i>
                    <span>Book</span>
                </a>

        
			</div>
			<span class="clearfix borda"></span>
		</article>
	</section>
</div>
</div>
</div>