<div id="sect1" class="">
    <div class="row col-12 ">
      <div class="col-2" style="height: 477px;" >
        <a class="navbar-brand">
            <img
            src={{doctor.profilePic}}
            width="80px" height="80px" style="border-radius: 100px;"/>
            <label class="mx-2 text-light">{{doctor.fname}} {{doctor.lname}}</label>
        </a>
        <a class="text-light btn btn btn-outline-info col-12 mt-3" [routerLink]="['/doctor']"> Home </a>
        <a class="text-light btn btn btn-outline-info col-12 mt-3" (click)="send()" [routerLink]="['/doctor/info']"> Profile </a>
        <a class="text-light btn btn btn-outline-info col-12 mt-3" (click)="send()" [routerLink]="['/doctor/edit']"> Edit Profile </a>
        <a class="text-light btn btn btn-outline-info col-12 mt-3"  [routerLink]="['/doctor/patientsearch']"> Search for a patient </a>
      </div>
      <div class="col-9 mx-5">
          <div class="row col-12">
            <router-outlet></router-outlet> 
          </div>
      </div>
    </div>
    
    
</div>



