
<div id="sect1">
<div class="container">
    <div class="navbar navbar-light ">
  <div class="d-flex my-4">

    <input  [(ngModel)]="ID" [ngModelOptions]="{standalone: true}" class="form-control me-2" style="width:300px"   *ngIf="Indicator==1" type="search" placeholder="Search patient by ID" aria-label="Search" (ngModelChange)="SelectedPatientById(ID)">
    <input  [(ngModel)]="Name" [ngModelOptions]="{standalone: true}" class="form-control me-2" style="width:300px" *ngIf="Indicator==2" type="search" placeholder="Search patient by Name" aria-label="Search" (ngModelChange)="SelectedPatientByName(Name)">
    
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Search for patient by 
        </a>  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" (click)="setIndicatorForId()">ID</a>
          <a class="dropdown-item" (click)="setIndicatorForName()">Name</a>
        </div>
    </div>
</div>

  <!-- search by name table -->
  <table class="table table-striped table-dark" *ngIf="Name!=''">
    <thead>
      <tr class="text-center">
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Required Tests</th>
        <th scope="col">Doctor</th>
        <th scope="col">date</th>
        <th scope="col"></th>
        <ng-template #fileHead>
            <th scope="col">added files</th>
        </ng-template>
    </tr>
    </thead>
    <tbody>
        <tr class="text-center" *ngFor="let record of ( patient.records |recordFilteration); let i=index">
            <td style="vertical-align: middle" *ngIf="i == 0;else t1" class="text-light" [rowSpan]="( patient.records |recordFilteration).length">{{ patient.id }}</td>
                <ng-template #t1></ng-template>
            <td style="vertical-align: middle" *ngIf="i == 0;else t2" class="text-light"  [rowSpan]="( patient.records |recordFilteration).length">{{ patient.fname }} {{ patient.lname }}</td>
                <ng-template #t2></ng-template>
            <td  style="vertical-align: middle" class="text-light" >
                {{ record.file_description }} 
            </td>
            <td style="vertical-align: middle" class="text-light">
                {{ record.didNavigation?.fname }} {{ record.didNavigation?.lname }}
            </td>
            <td style="vertical-align: middle" class="text-light">
                {{ record.date|date }}
            </td>
            <td style="vertical-align: middle" >
                <p-fileUpload 
                name="myfiles[]"
                [multiple]="false"
                accept="application/pdf"
                mode="basic" 
                [auto]="true"
                chooseLabel="Scan"
                [customUpload]="true"
                (uploadHandler)="UploadFiles(record, $event)"
                >
                <!-- [url]="'https://localhost:7089/api/Record/AddFile/' + record.pid + '/' + record.did + '/' + record.date + '/' + record.file_description + '/' + record.fno + '/' + radiographerID"
                (onUpload)="myUploader(record, $event)"
                (onError)="errorInUploading($event)" -->
                </p-fileUpload>
            </td>
        </tr>
    </tbody>
  </table>

  <!-- search by ID table -->
  <table #table class="table table-striped table-dark" *ngIf="ID >0">
    <thead>
      <tr class="text-center">
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Required Tests</th>
        <th scope="col">Doctor</th>
        <th scope="col">date</th>
        <th scope="col"></th>
        <ng-template #fileHead>
            <th scope="col">added files</th>
        </ng-template>
    </tr>
    </thead>
    <tbody>
        <tr class="text-center" *ngFor="let record of ( patient.records |recordFilteration); let i=index">
            <td style="vertical-align: middle" *ngIf="i == 0;else t1" class="text-light" [rowSpan]="( patient.records |recordFilteration).length">{{ patient.id }}</td>
                <ng-template #t1></ng-template>
            <td style="vertical-align: middle" *ngIf="i == 0;else t2" class="text-light"  [rowSpan]="( patient.records |recordFilteration).length">{{ patient.fname }} {{ patient.lname }}</td>
                <ng-template #t2></ng-template>
            <td  style="vertical-align: middle" class="text-light" >
                {{ record.file_description }} 
            </td>
            <td style="vertical-align: middle" class="text-light">
                {{ record.didNavigation?.fname }} {{ record.didNavigation?.lname }}
            </td>
            <td style="vertical-align: middle" class="text-light">
                {{ record.date|date }}
            </td>
            <td style="vertical-align: middle" >
                <p-fileUpload 
                name="myfiles[]"
                [multiple]="false"
                accept="application/pdf"
                mode="basic" 
                [auto]="true"
                chooseLabel="Scan"
                [customUpload]="true"
                (uploadHandler)="UploadFiles(record, $event)"
                >
                <!-- [url]="'https://localhost:7089/api/Record/AddFile/' + record.pid + '/' + record.did + '/' + record.date + '/' + record.file_description + '/' + record.fno + '/' + radiographerID"
                (onUpload)="myUploader(record, $event)"
                (onError)="errorInUploading($event)" -->
                </p-fileUpload>
            </td>
        </tr>
    </tbody>
  </table> 
</div>

<app-loading *ngIf="patientsList.length==0" > </app-loading>
