
<div id="sect1"  > 
    <div  class="col-lg-8 col-sm-12 d-flex align-items-center justify-content-center ">
      <!-- Card -->
      <div class="card card-container  ">
        <div  class="fs-2 text-center" style=" color: #a5c422;">LOGIN NOW </div>
            <!-- <img
                id="profile-img"
                src="https://www.jing.fm/clipimg/detail/398-3981675_avatar-for-login-form.png"
                class="profile-img-card"
                width="200px" height="200px"
            /> -->
            
        <form  name="form" (ngSubmit)="onSubmit()" #MyForm="ngForm" >
          <!-- EMAIL -->
        <div class="form-group">
            <label for="email" class="fs-5">Email</label>
            <input  type="email"  
                    style="border-radius:30px ;"
                    class="form-control form-control-lg " 
                    [pattern]="emailPattern" 
                    name="email"
                    [(ngModel)]="user.email" 
                    placeholder ="Enter your Email" required #email="ngModel"/>

            <div class="alert alert-danger fs-5" role="alert" *ngIf="email.errors && MyForm.submitted" >
              <div *ngIf="email.errors['required']">email is required</div>
              <div *ngIf="email.errors['pattern']">email is invalid !</div>
            </div>
        </div>

          <!-- PASSWORD -->
        <div class="form-group">
          <label for="password" class="fs-5">Password</label>
          <input type="password"
                style="border-radius:30px ;"
                class="form-control form-control-lg"
                name="password"
                [(ngModel)]="user.password"
                required
                minlength="3"
                #password="ngModel"
                placeholder ="Enter your password"/>
           
          <div  class="alert alert-danger fs-5"
                role="alert"
                *ngIf="password.errors && MyForm.submitted">
              <div *ngIf="password.errors['required']">Password is required</div>
              <div *ngIf="password.errors['minlength']">  Password must be at least 3 characters </div>
          </div>
        </div>

          <!-- ROLE -->
        <div class="my-5 align-center">
            <!-- <p-selectButton [options]="roles"  [(ngModel)]="selectRole" optionLabel="name" optionValue="role"></p-selectButton> -->
            <label for="role" class="fs-5  fw-bold">Who Are You <span style="color: red;"  >?</span> </label>
            <select name="role" class="form-select form-select-lg"    style="border-radius:30px ;"  aria-label="Default select example"  #role="ngModel"[(ngModel)]="user.role">
                <option class="fs-5" value="admin"> Admin </option>
                <option class="fs-5" value="doctor">Doctor </option>
                <option class="fs-5" value="patient"> Patient</option>
                <option class="fs-5" value="Pharmacist">Pharmacist </option>
                <option class="fs-5" value="Laboratory technician"> Laboratory technician</option>
                <option class="fs-5" value="Radiographer">Radiographer </option>
            </select>
        </div>

        <div class="form-group d-grid mx-auto"   >
            <button class="login btn-lg "> Login </button>
        </div>
        
          <div class="form-group form-control-lg">
            <div
            class="alert alert-danger form-control-lg"
            role="alert"
            *ngIf="MyForm.submitted && isLoginFailed"
            >
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </form>

      <label class="fs-5  fw-bold">Don't have an account <span style="color: red;"  >?</span></label>
      <div class="form-group d-grid mx-auto"   >
          <!-- <a routerLink="/doctorRegister" class="btn register  btn-lg my-3">  Register As Doctor</a> -->
          <a routerLink="/patientRegister" class="my-1 btn  register btn-lg">  Register As Patient</a>
      </div>

        </div>
    </div>
</div> 


