<app-loading *ngIf="!patient.id"></app-loading>

<div class="col-md-8" *ngIf="patient.id">
    <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Patient Id</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{patient.id}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{patient.fname}} {{patient.lname}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6 mb-3">
                            <a href="mailto:">{{patient.email}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{patient.phone}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Address</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{patient.buildingNumber}}/{{patient.street}},{{patient.area}},{{patient.city}}</p>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                          <label>Age</label>
                      </div>
                      <div class="col-md-6">
                          <p>{{patient.age}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                          <label>Gender</label>
                      </div>
                      <div class="col-md-6">
                          <p>{{patient.gender|uppercase}}</p>
                      </div>
                    </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Experience</label>
                        </div>
                        <div class="col-md-6">
                            <p>Expert</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Hourly Rate</label>
                        </div>
                        <div class="col-md-6">
                            <p>10$/hr</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Total Projects</label>
                        </div>
                        <div class="col-md-6">
                            <p>230</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>English Level</label>
                        </div>
                        <div class="col-md-6">
                            <p>Expert</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Availability</label>
                        </div>
                        <div class="col-md-6">
                            <p>6 months</p>
                        </div>
                    </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Your Bio</label><br/>
                    <p>Your detail description</p>
                </div>
            </div>
        </div>
    </div>
</div>