<app-loading *ngIf="!patient.id"></app-loading>

<div class="col-md-8" *ngIf="patient.id">
    <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label><i class='fas fa-id-card-alt mx-2' style="color: #a5c422;"></i>ID</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{patient.id}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label><i class="fa fa-user mx-2" style="color: #a5c422;" aria-hidden="true"></i>Name</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{patient.fname}} {{patient.lname}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label><i class="fa fa-envelope mx-2" style="color: #a5c422;" aria-hidden="true"></i>Email</label>
                        </div>
                        <div class="col-md-6 mb-3">
                            <a href="mailto:">{{patient.email}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label><i class="fa fa-phone mx-2" style="color: #a5c422;"aria-hidden="true"></i>Phone</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{patient.phone}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label><i class="fa fa-map-marker mx-2" style="color: #a5c422;"></i> Address</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{patient.buildingNumber}},{{patient.street}},{{patient.area}},{{patient.city}}</p>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                          <label><i class="fa fa-child mx-2" style="color: #a5c422;" aria-hidden="true"></i>Age</label>
                      </div>
                      <div class="col-md-6">
                          <p>{{patient.age}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                          <label><i class="fa fa-transgender mx-2" style="color: #a5c422;" aria-hidden="true"></i>Gender</label>
                      </div>
                      <div class="col-md-6">
                          <p>{{patient.gender ==('F' ||'f') ? 'Female':'Male'}}</p>
                      </div>
                    </div>
        </div>
    </div>
</div>