<div class="navbar navbar-light">
  <div class="d-flex">
    
    <input  [(ngModel)]="ID" [ngModelOptions]="{standalone: true}" class="form-control me-2" style="width:300px"   *ngIf="Indicator==1" type="search" placeholder="Search patient by ID" aria-label="Search">
    <input  [(ngModel)]="Name" [ngModelOptions]="{standalone: true}" class="form-control me-2" style="width:300px" *ngIf="Indicator==2" type="search" placeholder="Search patient by Name" aria-label="Search">
    
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Search for patient by 
        </a>  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" (click)="setIndicatorForId()">ID</a>
          <a class="dropdown-item" (click)="setIndicatorForName()">Name</a>
        </div>
    </div>
  </div>
  <table class="table table-striped table-dark" *ngIf="Name!=''">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let patient of visitList|searchByName:Name">
        <td class="text-light">{{patient.id}}</td>
        <td class="text-light">{{patient.fname}} {{patient.lname}}</td>
        <td>
          <a type="button" class="btn btn-primary text-light" [routerLink]="['/doctor/patient',patient.id,'info']">View</a>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped table-dark" *ngIf="(visitList|searchById:ID).id!=0">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-light">{{(visitList|searchById:ID).id}}</td>
        <td class="text-light">{{(visitList|searchById:ID).fname}} {{(visitList|searchById:ID).lname}}</td>
        <td>
          <a type="button" class="btn btn-primary text-light" [routerLink]="['/doctor/patient',(visitList|searchById:ID).id,'info']">View</a>
        </td>
      </tr>
    </tbody>
  </table>
</div> 