<div class="navbar navbar-light ">

  <div class="d-flex justify-content-center">
   
    <div class="dropdown show">
      <a class="dropdown-toggle searchby" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Search  by 
      </a>  
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" (click)="setIndicatorForId()">ID</a>
        <a class="dropdown-item" (click)="setIndicatorForName()">Name</a>
      </div>
    </div>

    <div class="searchbar">
      <input class="search_input" [(ngModel)]="ID" [ngModelOptions]="{standalone: true}"    *ngIf="Indicator==1" type="search" placeholder="Search by ID ..." aria-label="Search">
      <input class="search_input" [(ngModel)]="Name" [ngModelOptions]="{standalone: true}"  *ngIf="Indicator==2" type="search" placeholder="Search by name ..." aria-label="Search">
      <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
    </div>
  </div>

  <table class="table table-striped" *ngIf="Name!='' && !ID">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr   *ngFor="let patient of visitList|searchByName:Name">
        <td>
          <a  class="text-light fs-6" [routerLink]="['/doctor/patient',patient.id,'info']"><i class="fa fa-eye" aria-hidden="true"></i></a>
        </td>
        <td class="text-light fs-6">{{patient.id}}</td>
        <td class="text-light fs-6">{{patient.fname}} {{patient.lname}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped" *ngIf="(visitList|searchById:ID).id!=0">
    <thead>
      <tr>
        <th class="text-center"><em class="fa fa-cog"></em></th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td align="center">
          <a class="text-light fs-6" [routerLink]="['/doctor/patient',(visitList|searchById:ID).id,'info']"><i class="fa fa-eye" aria-hidden="true"></i></a>
        </td>
        <td class="text-light fs-6">{{(visitList|searchById:ID).id}}</td>
        <td class="text-light fs-6">{{(visitList|searchById:ID).fname}} {{(visitList|searchById:ID).lname}}</td>
      </tr>
    </tbody>
  </table>

</div>