body{
    background: -webkit-linear-gradient(left, #a5c422, #00c6ff);
}
.patient-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3.5%;
    border-radius: 0.5rem;
    background: #fff;
}

.PatientSearch{
    width:100%
}


.searchbar{
margin-bottom: auto;
margin-top: auto;
height: 40px;
background-color: #d8e4dc;
color: #637517;
border-radius: 30px;
padding: 1px;
padding-bottom: 2px;
}
.search_input{
color:#637517;
border: 0;
outline: 0;
background: none;
padding: 0 10px;
width: 450px;
caret-color:#a5c422;
line-height: 40px;

}
::placeholder { 
    color: #637517;
}

.searchbar:hover > .search_icon{
color: greenyellow;
}
.search_icon{
height: 40px;
width: 40px;
float: right;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
color:#637517;
text-decoration:none;
}

.dropdown{
margin-top: auto;
margin-bottom: 0;
}

.searchby{
margin-top: auto;
margin-bottom: auto;
margin-right: 5px;
background-color: #d8e4dc;
color: #637517;
text-decoration: none;
font-size: medium;
border-radius: 30px;
padding: 10px 40px;
}

.dropdown-menu{
margin-bottom: auto;
border-radius: 30px;
padding: 10px;
width: 50%;
background-color: #d8e4dc;
}

.dropdown-item{
color: #637517;
}

.dropdown-item:hover{
background: white;
color: #a5c422;
} 

.tablearea{
  max-height: 100px;
  overflow-x: auto;
  overflow-y: auto;
}

.table{
  white-space: normal;
}

tbody{
  display:block;
  height:150px;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

