<div class="container patient-profile" *ngIf="patient.id">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src={{patient.profilePic}} alt=""/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                  <h3 class="mx-sm-5">
                      {{patient.fname}} {{patient.lname}}
                  </h3>
                  <div class="">
                      <input class="profile1-btn btn-secondary btn-outline-info" name="btnAddMore" value="Record Prescription"/>
                      <input class="profile2-btn btn-secondary btn-outline-info" name="btnAddMore" value="Record Medical tests"/>
                  </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-1 mt-2">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link" id="home-tab" data-toggle="tab" routerLinkActive="active" routerLink="info" role="tab" aria-controls="home" aria-selected="true" >About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" routerLinkActive="active" routerLink="history" role="tab" aria-controls="profile" aria-selected="false">History</a>
              </li>
          </ul>
      </div>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>         
</div>


