
<!-- <div id="sect1">
</div> -->

<div class="container"  >

    <div class="row my-3 fs-5 form-group" *ngIf="!showAddToSchedule">
        <div class="col-lg-2 col-sm-3"> 
            <label for="did">  Doctor ID </label>
        </div>
        <div class="col-lg-4 col-sm-12">
            <input class="form-control form-control-lg"  id="did" [pattern]="IsNumberPattern"  type="text" [(ngModel)]="did" placeholder="Enter Doctor Id" >
        </div>
        <div class="col-lg-1 col-sm-3"> </div>
        <div class="col-lg-4 col-sm-12 ">
            <button (click)="ShowDoctorSchedule()" class="form-control form-control-lg btn btn-outline-success fs-5 " >search </button>
        </div>
    </div>
    <div class=" my-3 fs-5 form-group" *ngIf="showAddToSchedule">
        <div class="row my-5">
            <div class="col-lg-3 col-sm-3"> 
                <button (click)="Back()" class="form-control form-control-lg btn btn-outline-success fs-5 " > Back </button>
            </div> 
            <div class="col-lg-3 col-sm-3"> </div> 
        </div>

        <div  class="row my-3 "> 
            <div class="col-lg-3 col-sm-3">
                <label for="day">  Choose Day </label>
                <label style="color:red ;">*</label> 
            </div>
            <div class="col-lg-4 col-sm-3">
                <select name="day"  [(ngModel)]="info.day" class="form-select form-select-lg" style="border-radius:30px ;"  aria-label="Default select example" required #day="ngModel">
                  <option class="fs-5" *ngFor=" let day of days"> {{day}} </option>
                </select>
            </div>
        </div>

        <div class="row my-3 "> 
            <div class="col-lg-3 col-sm-12">
                <label for="s"> Start At  </label>
                <label style="color:red ;">*</label> 
            </div>
            <div class="col-lg-4 col-sm-6">
                <select name="s"  [(ngModel)]="info.start" class="form-select form-select-lg" style="border-radius:30px ;"  aria-label="Default select example" required #start="ngModel">
                  <option class="fs-5" *ngFor=" let hour of hours"> {{hour}} </option>
                </select>
            </div>
            <div class="col-lg-3 col-sm-6">
                <select name="day"  [(ngModel)]="info.sShift" class="form-select form-select-lg" style="border-radius:30px ;"  aria-label="Default select example" required #sShift="ngModel">
                  <option class="fs-5" *ngFor=" let sh of shift"> {{sh}} </option>
                </select>
            </div>
        </div>

        <div class="row my-3 "> 
            <div class="col-lg-3 col-sm-12">
                <label for="end"> End At  </label>
                <label style="color:red ;">*</label> 
            </div>
            <div class="col-lg-4 col-sm-6">
                <select name="end"  [(ngModel)]="info.end" class="form-select form-select-lg" style="border-radius:30px ;"  aria-label="Default select example" required #end="ngModel">
                  <option class="fs-5" *ngFor=" let hour of hours"> {{hour}} </option>
                </select>
            </div>
            <div class="col-lg-3 col-sm-6">
                <select name="day"  [(ngModel)]="info.eShift" class="form-select form-select-lg" style="border-radius:30px ;"  aria-label="Default select example" required #eShift="ngModel">
                  <option class="fs-5" *ngFor=" let sh of shift"> {{sh}} </option>
                </select>
            </div>
        </div>

        <div class="row my-3 "> 
            <div class="col-lg-3 col-sm-12">
                <label for="end"> Maximum # of patients <span style="color:red ;">*</span> </label>
            </div>
            <div class="col-lg-4 col-sm-12">
            <input class="form-control form-control-lg" style="border-radius:30px ;" [pattern]="IsNumberPattern"  type="text" [(ngModel)]="info.maxNo" placeholder="Enter max number of patients" >
            </div>
        </div>

        <div *ngIf="errorMessageDuringAdd"  class="row my-3"> 
            <div class="col-lg-3 col-sm-12">
            </div>
            <label class="my-3" style="color:red ;">
                {{errMsg}}
            </label> 
        </div>
    
        <div class="row my-5">
            <div class="col-lg-3 col-sm-3"> </div> 
            <div class="col-lg-4 col-sm-3"> 
                <button (click)="AddToDB()" class="form-control form-control-lg btn btn-outline-success fs-5 " > Add </button>
            </div> 
        </div>
        
    </div>

    <app-loading *ngIf="workIn.length ==0 && showLoading"> </app-loading>
    <div *ngIf="showResult &&!showAddToSchedule">
     <hr>

        <div class="row my-5 fs-5" >
            <div class="col-lg-2 col-sm-3 ">
                <label for="id"> Doctor name </label>
            </div>
            <div class="col-lg-4 col-sm-5  ">
                <span class="form-control form-control-lg "> {{doctor?.fname +' ' + doctor?.lname}}</span>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-7 col-sm-3"> </div>
            <div class="col-lg-4 col-sm-12 ">
                <button (click)="AddToSchedule()" class="form-control form-control-lg btn btn-outline-success fs-5 " >Add to schedule </button>
            </div>
        </div>

        <div class="row my-5">
           <table class="table table-striped table-inverse table-responsive fs-5 table-light table-bordered text-center">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-center"><em class="fa fa-cog"></em></th>
                        <th>Start time</th>
                        <th>End time </th>
                        <th>Max # of patients </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of workIn; let i =index;">
                        <td align="center" style=" width:15%">
                            <!-- <div >
                                <p-confirmDialog header="Confirmation to delete invoice" icon="pi pi-exclamation-triangle" [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
                                <p-button  styleClass="p-button-danger" [style]="{width: '18vw '}" (click)="deleteRow(i,item.start_time,item.did)"   label="Delete"></p-button>
                             </div> -->
                            <a (click)="deleteRow(i,item.start_time,item.did)" class="btn btn-default"><em class="fa fa-trash"></em></a>
                        </td>
                        <td scope="row">{{item.start_time}}</td>
                        <td>{{item.end_time}}</td>
                        <td>{{item.maxpatientNo}}</td>
                    </tr>
                </tbody>
           </table>
           
        </div>

  </div>

   