



<nav class="navbar navbar-default navbar-static-top navbar-expand-lg bg-white">
  <div class="container-fluid">
    
    <a class="navbar-brand fs-2" href="#">  <i style="color: #a5c422;" class="fab fa-mendeley"></i>edical Center</a>
    <!-- <i class="fa-brands fa-meta"></i><i class="fa fa-h-square"></i> <i class="fa-brands fa-meta"></i> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active fs-5" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/login">Login</a>
        </li>
      </ul>
      
      <ul class="navbar-nav  justify-content-end my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Register
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item fs-5" >As A Doctor</a></li>
            <li><a class="dropdown-item fs-5" >As A Patient</a></li>
          </ul>
        </li>
      </ul>      
    </div>
  </div>
</nav>


