<div class="page">
    <div class="m-5"> 
        <a class="text-dark btn btn-outline-success  col-12 mt-3" [routerLink]="['/patient/appointments']"> Show Appointments </a>
        <a class="text-dark btn btn-outline-success  col-12 mt-3" [routerLink]="['/patient/record']"> Show Records </a>
        <a class="text-dark btn btn-outline-success  col-12 mt-3" [routerLink]="['/patient/search']"> Search for Doctor </a>

    </div>
<!-- Categories start here -->
<a href="" class="typewrite" data-period="2000" data-type='[ "Welcome to Life Care", "We Care Your Health", "We are Expert!" ]'>

<div class="container mt-100">

    <div class="row">
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
<div class="main-img"><img src="./../../../assets/p1.jpg" alt="Category"></div>
<!-- <div class="thumblist"><img src="https://i.imgur.com/ILEU18M.jpg" alt="Category"><img src="https://i.imgur.com/2kePJmX.jpg" alt="Category"></div> -->
</div></a>
<div class="card-body text-center">
<h4 class="card-title">Ophthalmologists</h4>
<!-- <p class="text-muted">Starting from $499</p> -->
<a class="btn btn-outline-success btn-sm" href="#" data-abc="true">View Doctors</a>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
<div class="main-img"><img src="./../../../assets/p2.jpg" alt="Category"></div>
<!-- <div class="thumblist"><img src="https://i.imgur.com/VwSKS7A.jpg" alt="Category"><img src="https://i.imgur.com/gTvZ2H5.jpg" alt="Category"></div> -->
</div></a>
<div class="card-body text-center">
<h4 class="card-title" >Dentists</h4>
<!-- <p class="text-muted">Starting from $50</p> -->
<a class="btn btn-outline-success btn-sm" href="#" data-abc="true"  routerLink='/patient/categories/Dentist'>View Doctors</a>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
<div class="main-img"><img src="./../../../assets/p3.jpg" alt="Category"></div>
<!-- <div class="thumblist"><img src="https://i.imgur.com/dWYAg41.jpg" alt="Category"><img src="https://i.imgur.com/5oQEZSC.jpg" alt="Category"></div> -->
</div></a>
<div class="card-body text-center">
<h4 class="card-title">pediatrician</h4>
<!-- <p class="text-muted">Starting from $9</p> -->
<a class="btn btn-outline-success btn-sm" href="#" data-abc="true" [routerLink]="['/patient/categories','pediatrician']">View Doctors</a>
</div>
</div>
</div>
</div>
</div>
<!-- </div> -->