#load {
    -webkit-animation: cssAnimation 40s forwards; 
    animation: cssAnimation 40s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

#showMe {
  animation: cssAnimation1 0s 60s forwards;
  visibility: hidden;
}

@keyframes cssAnimation1 {
  to   { visibility: visible; }
}